@charset "UTF-8";
/*Header*/
header {
  background-color: #f0ccd5;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#menu ul li a {
  color: #242424;
  padding: 5px;
  text-align: center;
}

.icons {
  font-size: larger;
}

button {
  margin: 10px;
}

.btn-desplegable {
  border: none;
}

.imgLogo {
  width: 100%;
  max-width: 250px;
}

.btn-desplegable {
  border: none;
}

.btnHeader:hover {
  background-color: rgb(148, 113, 122);
  border-radius: 5px;
}

.desplegable {
  background-color: #f0ccd5;
  color: #f0ccd5;
}

/*Seccion abajo del carousel*/
h1 inicio {
  text-transform: uppercase;
  font-size: 36px;
}

.sectionOne {
  border-top: black solid 1px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#seccion-inicio {
  width: 100%;
  margin-bottom: 30px;
}

.seccion-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 20px;
}

#titulo-parrafo {
  font-size: 45px;
  font-weight: bolder;
  max-width: 100%;
}

.parrafo-index p {
  font-size: 16px;
  max-width: 100%;
}

#img-inicio {
  object-fit: cover;
  max-width: 100%;
}

/*Footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 50%;
}
footer p {
  text-align: center;
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
}

#icons i {
  font-size: 26px;
  padding: 0 8px;
  color: #fafafa;
}

/*Body*/
/*General*/
* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
}

/*Accordion Tratamiento*/
.main-tratamiento {
  background-color: #fbf8f9;
  margin: 3rem;
  padding: 2rem;
}

main section h1 {
  font-size: 26px;
  margin-bottom: 25px;
}

#preguntas {
  font-size: 16px;
  font-weight: bold;
}

/*Centros*/
.titulo-centros {
  text-align: center;
  font-size: 26px;
  margin: 25px;
}

.container-centros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff9f9;
}

.centros {
  max-width: 90%;
  margin: 20px 10px;
  background-color: #fafafa;
  box-shadow: 0px 3px 5px #ededed;
}
.centros #img-centros {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.titulo-tarjeta {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 15px;
}

/*Pie de pagina*/
#seccion-pie {
  justify-content: center;
  align-items: center;
}

.pie-de-pagina {
  background-color: rgb(23, 21, 21);
  color: #fafafa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1px;
}

.columna-pie {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.columna-pie h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 5px;
}

.columna-pie p {
  font-size: 1rem;
}

/*Promocionnes*/
/*Encabezado promociones*/
#titulo-promos {
  text-align: center;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 5px;
}

.contenedor-encabezado {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#seccion-encabezado-promos {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container-promociones {
  margin-bottom: 30px;
  padding: 20px;
  justify-content: center;
}

.contenedor-imagen {
  max-width: 400px;
  height: auto;
}

.imagen-tamaño {
  height: 100%;
  object-fit: cover;
}

.columna-texto-promos {
  text-align: center;
  align-items: center;
}
.columna-texto-promos h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 50px;
  text-decoration: underline 6px solid #f0ccd5;
}
.columna-texto-promos h3 {
  font-size: 32px;
  font-weight: bolder;
}

div img {
  width: 100%;
  max-width: 100%;
}

/*seccion zonas sueltas*/
.zonas-sueltas {
  text-align: center;
  font-size: 36px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.contenedor-btn-promos {
  text-align: center;
}

.btn-promociones {
  padding: 10px 20px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.btn-promociones:hover {
  background-color: #919191;
}

.accordion-item-promos1 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.accordion-item-promos2 {
  border-bottom: 1px solid black;
}

.fila {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  margin: 10px;
}

.fila,
.zona {
  font-weight: lighter;
  width: 100%;
}

.precio {
  font-weight: bold;
  width: 100%;
  text-align: right;
}

/*Seccion tarjetas*/
#seccion-tarjetas {
  background-color: #fbf8f9;
  padding: 50px;
}

#h2-giftcards {
  text-align: center;
  font-size: 36px;
}

.contenedor-tarjetas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 75%;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  margin: 40px;
}

.tarjeta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  text-align: center;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  max-width: 100%;
  width: 90%;
}
.tarjeta img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 5px;
}
.tarjeta p {
  margin: 10px 0;
}

.card-title {
  margin: 10px;
}

.card-text {
  padding: 10px;
}

.btn {
  background-color: #d1d1d1;
  border: none;
  color: black;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
  text-align: center;
}
.btn:hover {
  background-color: #252424;
  color: #fafafa;
  align-self: center;
}

/*Carousel*/
section {
  padding-top: 30px;
}

.carousel-inner img {
  max-width: 100%;
  height: auto;
}

.imgCarousel {
  width: 100%;
}

* {
  box-sizing: border-box;
}

/*Encabezado contacto*/
#intro {
  margin: 50px;
}

.contenido-encabezazo {
  padding: 20px;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.encabezado-wraper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.parrafo-encabezado p {
  font-size: 36px;
  background-color: #fbf8f9;
  padding: 1rem;
  margin: 1rem;
  max-width: fit-content;
}

.datos-contacto {
  padding: 1rem;
  margin: 1rem;
  max-width: fit-content;
}

/*Formulario*/
.contenido {
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.consulta {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(70, 70, 70);
  padding-top: 50px;
  text-transform: uppercase;
}

#parrafo-formulario {
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.contact-wraper {
  text-align: center;
  background-color: #fbf8f9;
  border: none;
  margin: 0%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.formulario-contacto form {
  gap: 10px;
  font-size: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.formulario-contacto form .block {
  grid-column: 1/4;
}
.formulario-contacto form p {
  margin: 0;
  padding: 16px;
  text-align: left;
}
.formulario-contacto form button,
.formulario-contacto form input,
.formulario-contacto form textarea {
  width: 100%;
  padding: 1em;
  border: rgb(235, 235, 234) solid 0.05px;
  background-color: rgb(251, 251, 251);
}
.formulario-contacto form input {
  border-radius: 5px;
}
.formulario-contacto form button {
  border: none;
  text-transform: uppercase;
  background-color: #e0dfdf;
  font-weight: 700;
  width: 100%;
}

.contenedor-btn-contacto {
  text-align: center;
}

.btn-contacto {
  padding: 10px 20px;
  border: rgb(235, 235, 234) solid 0.05px;
  color: black;
  cursor: pointer;
  margin-bottom: 40px;
  text-transform: uppercase;
  border-radius: 5px;
}
.btn-contacto:hover {
  background-color: #919191;
}

/*Queries*/
/*Index*/
@media (max-width: 768px) {
  #intro {
    width: 90% !important;
  }
  #inicio {
    width: 100% !important;
    text-align: center;
  }
}
@media (max-width: 1420px) {
  .parrafo-index {
    text-align: center;
    width: 90% !important;
  }
  #titulo-parrafo {
    font-size: 2rem;
    width: 90% !important;
  }
  p {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .parrafo-index {
    text-align: center;
    width: 90%;
  }
  #titulo-parrafo {
    font-size: 2rem;
    width: 90% !important;
    margin-top: 30px;
  }
  p {
    width: 90% !important;
  }
}
/*Promociones*/
@media (max-Width: 576px) {
  .icono-wrap {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
@media (max-Width: 768px) {
  .accordion {
    width: 75% !important;
    text-align: center;
  }
}
@media (max-Width: 1750px) {
  .contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 75%;
  }
}
@media (max-Width: 850px) {
  .contenedor-tarjetas {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 75%;
  }
}
@media (max-Width: 1300px) {
  .contenedor-tarjetas {
    max-width: 75%;
  }
}
@media (max-Width: 650px) {
  .contenedor-tarjetas {
    max-width: 90%;
  }
}
/*Contacto*/
@media (max-width: 825px) {
  .formulario-contacto {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 768px) {
  .formulario-contacto form {
    display: flex;
    flex-direction: column;
  }
  .formulario-contacto form p {
    margin-bottom: 10px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .encabezado-wraper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
/*Centros*/
@media (max-width: 1092px) {
  .container-centros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .container-centros {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=estilo.css.map */
