/*Footer*/



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 50%;
    
  
    p {
      text-align: center;
      color: #fafafa;
      font-family: 'Montserrat', sans-serif;
    }
  }
  
  #icons i {
    font-size: 26px;
    padding: 0 8px;
    color: #fafafa;
  }