/*Queries*/

/*Index*/
@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }

    #inicio {
        width: 100% !important;
        text-align: center;
    }
}


@media (max-width: 1420px) {
    .parrafo-index {
        text-align: center;
        width: 90% !important;
    }

    #titulo-parrafo {
        font-size: 2rem;
        width: 90% !important;
    }

    p {
        width: 90%;
    }
}

@media (max-width:768px) {
    .parrafo-index {
        text-align: center;
        width: 90%;
    }

    #titulo-parrafo {
        font-size: 2rem;
        width: 90% !important;
        margin-top: 30px;
    }

    p {
        width: 90% !important;
    }
}

/*Promociones*/

@media (max-Width:576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

@media (max-Width:768px) {
    .accordion {
        width: 75% !important;
        text-align: center;
    }
}
    

@media (max-Width:1750px) {
    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 75%;
    }
}

@media (max-Width:850px) {
    .contenedor-tarjetas {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 75%;
    }
}

@media (max-Width:1300px) {
    .contenedor-tarjetas {
        max-width: 75%;
    }
}

@media (max-Width:650px) {
    .contenedor-tarjetas {
        max-width: 90%;
    }
}


/*Contacto*/

@media (max-width: 825px) {
    .formulario-contacto {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 768px) {
    .formulario-contacto form {
        display: flex;
        flex-direction: column;
    }

    .formulario-contacto form p {
        margin-bottom: 10px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .encabezado-wraper {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}


/*Centros*/

@media (max-width: 1092px) {
    .container-centros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 768px) {
    .container-centros {
        display: grid;
        grid-template-columns: 1fr;
    }

}